@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
body {
   overflow: hidden;
}
.container {
   width: 100vw;
   height: 100vh;
   background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
}
.container .box {
   width: 70vw;
   height: 10vh;
   position: absolute;
   top: 15%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: grid;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-direction: column;
}
.container .box .title {
   width: 100%;
   position: relative;
   display: flex;
   align-items: center;
   align-content: center;
   height: 50px;
}
.container .box .title .block {
   width: 0%;
   height: inherit;
   background: #ffa801;
   position: absolute;
   animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
   display: flex;
}
.container .box .title h1 {
   font-family: "Poppins";
   color: #fff;
   font-size: 1.7rem;
   -webkit-animation: mainFadeIn 2s forwards;
   -o-animation: mainFadeIn 2s forwards;
   animation: mainFadeIn 2s forwards;
   animation-delay: 1.6s;
   opacity: 0;
   display: flex;
   align-items: baseline;
   position: relative;
   letter-spacing: 2px;
}
.container .box .role {
   width: 100%;
   position: relative;
   display: flex;
   align-items: center;
   height: 30px;
   margin-top: -10px;
}
.container .box .role .block {
   width: 0%;
   height: inherit;
   background: #f53b57;
   position: absolute;
   animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
   animation-delay: 2s;
   display: flex;
}
.container .box .role p {
   animation: secFadeIn 2s forwards;
   animation-delay: 3.2s;
   opacity: 0;
   font-weight: 500;
   font-family: "Lato";
   color: #fff;
   font-size: 12.5px;
   text-transform: uppercase;
   letter-spacing: 4px;
}
.profile {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 1rem;
   width: 30vw;
   height: 30vw;
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
}
.profile img {
   opacity: 0;
   width: 10rem;
   height: 10rem;
   border-radius: 50%;
   box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
   -webkit-animation: mainFadeIn 3s forwards;
   -o-animation: mainFadeIn 3s forwards;
   animation: mainFadeIn 3s forwards;
   animation-delay: 0.5s;
}
.description {
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 72vw;
   max-width: 600px;
   height: 15vh;
}
.description p {
   color: #dfe6e9;
   font-size: 1em;
   font-family: "Lato";
   /* font-family: Roboto Mono, Menlo, monospace; */
   font-weight: 400;
   line-height: 160%;
   letter-spacing: -0.01em;
   text-align: center;
   opacity: 0;
   -webkit-animation: mainFadeIn 3s forwards;
   -o-animation: mainFadeIn 3s forwards;
   animation: mainFadeIn 3s forwards;
   animation-delay: 1s;
}
.description a {
   color: #fff;
}
#copy {
   position: absolute;
   right: 1%;
   bottom: 11%;
   color: #dfe6e9;
   z-index: 3;
   font-family: "Lato";
   font-size: 0.6rem;
   opacity: 0.3;
}
@keyframes mainBlock {
   0% {
      width: 0%;
      left: 0;
   }
   50% {
      width: 100%;
      left: 0;
   }
   100% {
      width: 0;
      left: 100%;
   }
}
@keyframes secBlock {
   0% {
      width: 0%;
      left: 0;
   }
   50% {
      width: 100%;
      left: 0;
   }
   100% {
      width: 0;
      left: 100%;
   }
}
@keyframes mainFadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
@keyframes secFadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 0.8;
   }
}
footer {
   width: 100%;
   height: 70px;
   background: #dfe6e9;
   position: absolute;
   right: 0;
   bottom: -70px;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
   animation: top 0.8s forwards;
   animation-delay: 1.7s;
}
footer div {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   /* font-size: 12px; */
   color: #fff;
   font-family: "Poppins";
}
footer div i {
   margin: 20px;
   font-size: 35px;
   color: #2f3640;
   animation: icon 2s forwards;
   animation-delay: 2.5s;
   opacity: 0;
}
footer .texto {
   position: absolute;
   left: 1%;
   display: block;
   align-content: center;
   align-items: center;
   justify-content: center;
}
footer .texto p {
   text-align: left;
   font-size: 0.8rem;
   color: #636e72;
   line-height: 1.4rem;
}

@keyframes top {
   0% {
      opacity: 0;
      bottom: -80px;
   }
   100% {
      opacity: 1;
      bottom: 0px;
   }
}
@keyframes icon {
   0% {
      opacity: 0;
      transform: scale(0);
   }
   50% {
      opacity: 1;
      transform: scale(1.3) rotate(-2deg);
   }
   100% {
      opacity: 1;
      bottom: 0px;
   }
}
