@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
body {
   overflow: hidden !important;
}
.container {
   width: 100vw;
   height: 100vh;
   background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
}
.card {
   border-radius: 5%;
   box-shadow: 0px 15px 200px rgba(0, 166, 251, 0.05);
   animation: boxShadow 6000ms infinite;
   animation-delay: 2s;
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 60vw;
   max-width: 500px;
   height: 80vh;
}
.container .box {
   width: 70vw;
   height: 10vh;
   position: absolute;
   top: 15%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: grid;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-direction: column;
}
.container .box .title {
   width: 100%;
   position: relative;
   display: flex;
   align-items: center;
   align-content: center;
   height: 50px;
}
.container .box .title .block {
   width: 0%;
   height: inherit;
   background: #ffa801;
   position: absolute;
   animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
   display: flex;
}
.container .box .title h1 {
   font-family: "Poppins";
   color: #fff;
   font-size: 1.7rem;
   -webkit-animation: mainFadeIn 2s forwards;
   -o-animation: mainFadeIn 2s forwards;
   animation: mainFadeIn 2s forwards;
   animation-delay: 1.6s;
   opacity: 0;
   display: flex;
   align-items: baseline;
   position: relative;
   letter-spacing: 2px;
}
.container .box .subtitle {
   width: 100%;
   position: relative;
   display: flex;
   align-items: center;
   height: 30px;
   margin-top: -10px;
}
.container .box .subtitle .block {
   width: 0%;
   height: inherit;
   background: #f53b57;
   position: absolute;
   animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
   animation-delay: 2s;
   display: flex;
}
.container .box .subtitle p {
   animation: secFadeIn 2s forwards;
   animation-delay: 3.2s;
   opacity: 0;
   font-weight: 500;
   font-family: "Lato";
   color: #fff;
   font-size: 12.5px;
   text-transform: uppercase;
   letter-spacing: 4px;
}
.profile {
   position: absolute;
   top: 43%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 1rem;
   width: 30vw;
   height: 30vw;
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
}
.profile img {
   opacity: 0;
   width: 10rem;
   height: 10rem;
   border-radius: 50%;
   box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
   -webkit-animation: mainFadeIn 3s forwards;
   -o-animation: mainFadeIn 3s forwards;
   animation: mainFadeIn 3s forwards;
   animation-delay: 0.5s;
}
.description {
   position: absolute;
   top: 78%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 72vw;
   max-width: 600px;
   height: 15vh;
}
.description p {
   color: #dfe6e9;
   font-size: 1em;
   font-family: "Lato";
   /* font-family: Roboto Mono, Menlo, monospace; */
   font-weight: 400;
   line-height: 160%;
   letter-spacing: -0.01em;
   text-align: center;
   opacity: 0;
   -webkit-animation: mainFadeIn 3s forwards;
   -o-animation: mainFadeIn 3s forwards;
   animation: mainFadeIn 3s forwards;
   animation-delay: 1s;
}
.description a {
   color: #fff !important;
}
#copy {
   position: absolute;
   right: 1%;
   bottom: 11%;
   color: #dfe6e9;
   z-index: 3;
   font-family: "Lato";
   font-size: 0.6rem;
   opacity: 0.3;
}
@keyframes mainBlock {
   0% {
      width: 0%;
      left: 0;
   }
   50% {
      width: 100%;
      left: 0;
   }
   100% {
      width: 0;
      left: 100%;
   }
}
@keyframes secBlock {
   0% {
      width: 0%;
      left: 0;
   }
   50% {
      width: 100%;
      left: 0;
   }
   100% {
      width: 0;
      left: 100%;
   }
}
@keyframes mainFadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
@keyframes secFadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 0.8;
   }
}
@keyframes boxShadow {
   0% {
      box-shadow: 0px 15px 200px rgba(0, 166, 251, 0.1);
   }
   50% {
      box-shadow: 0px 15px 500px rgba(0, 166, 251, 1);
   }
   100% {
      box-shadow: 0px 15px 200px rgba(0, 166, 251, 0.1);
   }
}
@keyframes boxShadow639 {
   0% {
      box-shadow: 0px 15px 30px rgba(0, 166, 251, 0.1);
   }
   50% {
      box-shadow: 0px 15px 80px rgba(0, 166, 251, 1);
   }
   100% {
      box-shadow: 0px 15px 30px rgba(0, 166, 251, 0.1);
   }
}
footer {
   width: 100%;
   height: 70px;
   background: #dfe6e9;
   position: absolute;
   right: 0;
   bottom: -70px;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
   animation: top 0.8s forwards;
   animation-delay: 1.7s;
}
footer div {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   /* font-size: 12px; */
   color: #fff;
   font-family: "Poppins";
}
footer div i {
   margin: 20px;
   font-size: 35px;
   color: #2f3640;
   animation: icon 2s forwards;
   animation-delay: 2.5s;
   opacity: 0;
}
footer .texto {
   position: absolute;
   left: 1%;
   display: block;
   align-content: center;
   align-items: center;
   justify-content: center;
}
footer .texto p {
   text-align: left;
   font-size: 0.8rem;
   color: #636e72;
   line-height: 1.4rem;
}

@keyframes top {
   0% {
      opacity: 0;
      bottom: -80px;
   }
   100% {
      opacity: 1;
      bottom: 0px;
   }
}
@keyframes icon {
   0% {
      opacity: 0;
      transform: scale(0);
   }
   50% {
      opacity: 1;
      transform: scale(1.3) rotate(-2deg);
   }
   100% {
      opacity: 1;
      bottom: 0px;
   }
}


/*######################################\*
              Responsividade 320
\*######################################*/
@media screen and (max-width: 639px) {
   bodyr {
      padding-bottom: 5px;
   }
   .card {
      border-radius: 5%;
      box-shadow: 0px 0px 70px rgba(0, 166, 251, 0);
      animation: boxShadow639 6000ms infinite;
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85vw;
      max-width: 350px;
      height: 70vh;
   }
   .container .box {
      width: 80vw;
      height: 9vh;
      position: absolute;
      top: 12%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
   }
   .container .box .subtitle p {
      animation: secFadeIn 2s forwards;
      animation-delay: 3.2s;
      opacity: 0;
      font-weight: 500;
      font-family: "Lato";
      color: #fff;
      font-size: 12.4px;
      text-transform: uppercase;
      letter-spacing: 4.1px;
   }
   .container .box .title h1 {
      font-family: "Poppins";
      color: #fff;
      font-size: 1.7rem;
      -webkit-animation: mainFadeIn 2s forwards;
      -o-animation: mainFadeIn 2s forwards;
      animation: mainFadeIn 2s forwards;
      animation-delay: 1.6s;
      opacity: 0;
      display: flex;
      align-items: baseline;
      position: relative;
      letter-spacing: 2px;
   }
   .profile {
      position: absolute;
      top: 43%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1rem;
      width: 30vw;
      height: 30vw;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
   }
   .profile img {
      opacity: 0;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      /* box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2); */
      -webkit-animation: mainFadeIn 3s forwards;
      -o-animation: mainFadeIn 3s forwards;
      animation: mainFadeIn 3s forwards;
      animation-delay: 0.5s;
   }
   .description {
      position: absolute;
      top: 78%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 72vw;
      max-width: 600px;
      height: 15vh;
   }
}

@media screen and (min-device-width: 640px ) {
   .card {
      border-radius: 5%;
      /* box-shadow: 0px 0px 30px rgba(0, 166, 251, 0.8); */
      position: absolute;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60vw;
      max-width: 500px;
      height: 75vh;
   }
   .container .box {
      width: 80vw;
      height: 9vh;
      position: absolute;
      top: 13%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: grid;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
   }
   .container .box .subtitle p {
      animation: secFadeIn 2s forwards;
      animation-delay: 3.2s;
      opacity: 0;
      font-weight: 500;
      font-family: "Lato";
      color: #fff;
      font-size: 12.5px;
      text-transform: uppercase;
      letter-spacing: 5px;
   }
   .container .box .title h1 {
      font-family: "Poppins";
      color: #fff;
      font-size: 1.7rem;
      -webkit-animation: mainFadeIn 2s forwards;
      -o-animation: mainFadeIn 2s forwards;
      animation: mainFadeIn 2s forwards;
      animation-delay: 1.6s;
      opacity: 0;
      display: flex;
      align-items: baseline;
      position: relative;
      letter-spacing: 2px;
   }
   .profile {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1rem;
      width: 30vw;
      height: 30vw;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
   }
   .profile img {
      opacity: 0;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
      -webkit-animation: mainFadeIn 3s forwards;
      -o-animation: mainFadeIn 3s forwards;
      animation: mainFadeIn 3s forwards;
      animation-delay: 0.5s;
   }
   .description {
      position: absolute;
      top: 83%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 72vw;
      max-width: 600px;
      height: 15vh;
   }
   .description p {
      font-size: 1.1em;
   }
   .container .box .subtitle {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: -5px;
   }
   .container .box .subtitle .block {
      width: 0%;
      height: inherit;
      background: #f53b57;
      position: absolute;
      animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
      animation-delay: 2s;
      display: flex;
   }
   .container .box .subtitle p {
      animation: secFadeIn 2s forwards;
      animation-delay: 3.2s;
      opacity: 0;
      font-weight: 500;
      font-family: "Lato";
      color: #fff;
      font-size: 12.5px;
      text-transform: uppercase;
      letter-spacing: 4px;
   }
}
